 <!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Catálogo de filmes
    </ion-title>
  </ion-toolbar>
</ion-header>  -->  

<ion-content padding> 
 
  <ion-tabs>

    <ion-tab-bar slot="botton">

      <ion-tab-button tab="films">
        <ion-icon name="film"></ion-icon>
        <ion-label>últimos filmes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="md-search"></ion-icon>
        <ion-label>Buscar filmes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="slides">   
        <ion-icon name="ios-home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="login">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-content>



