<ion-header>
  <ion-toolbar color="dark">
    <ion-title>FILMES EM DESTAQUE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>Olá: {{object_film.name}}</h4>
  <ion-slides pager="true" class="teste">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Bloodshot</h1>
            <ion-img src="assets/images/filme1.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Capitã Marvel</h1>
            <ion-img src="assets/images/filme2.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Venom</h1>
            <ion-img src="assets/images/filme3.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
